body{
  margin:0;
  padding:10px;
  background:#000;
  color:#fff;
  font-family:sans-serif;
}

h1{
  text-align:center;
  font-size:16px;
  margin-bottom:10px;
}

h2{
  font-size:12px;
  color:#aaa;
}

/* PLAYER 5열 */
#playerList{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:5px;
}

.player{
  background:#1c1c1c;
  border-radius:6px;
  font-size:11px;
  text-align:center;
  padding:10px 2px;
  border:1px solid #222;
  user-select:none;
  transition:0.15s;
}

.player.active{
  background:#00c853;
  color:#000;
  transform:scale(0.98);
}

/* FIXED PAIR */
.pairBox{
  display:flex;
  gap:5px;
  margin-bottom:10px;
}

select{
  flex:1;
  font-size:13px;
  background:#111;
  color:#fff;
  border:1px solid #333;
  border-radius:6px;
  padding:8px;
}

.plusBtn{
  width:42px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:18px;
  background:#1c1c1c;
  border:1px dashed #555;
  border-radius:6px;
}

/* PAIR */
.pair{
  background:#ffab00;
  color:#000;
  font-size:11px;
  padding:6px;
  border-radius:6px;
  margin-top:5px;
}

/* GAME */
.btnRow{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:5px;
}

.genBtn{
  font-size:11px;
  padding:10px 0;
  border:none;
  border-radius:6px;
  background:#2979ff;
  color:#fff;
}